@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width:450px) {
    body,
    html {
        font-size: 1em;
        margin: 0px;
        padding: 0px;
    }
    header {
        display: flex;
        width: 90vw;
        flex-direction: column;
        justify-content: center;
    }
    header>h1 {
        font-size: 1.3em;
        transition: ease 3s;
    }
    header img {
        margin: auto;
        justify-content: center;
    }
    nav {
        margin-top: 20px;
        text-align: center;
    }
    main {
        display: block;
        width: 90vw;
        margin: auto;
    }
    div#historia>p {
        text-align: justify;
        width: 75%;
        padding: 10px;
    }
    div#historia p>a {
        text-decoration: none;
        color: black;
    }
    h2 {
        font-size: 1em;
        margin: auto;
    }
    #foto_gp {
        width: 300px;
    }
    .icones {
        width: 30px;
    }
    div#idgaleria {
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
        width: 95%;
        height: 550px;
    }
    div.galeria {
        display: flex;
        object-fit: contain;
    }
    div.galeria2 {
        display: none;
        object-fit: contain;
    }
    img.fotos {
        width: 100px;
        height: 100px;
    }
    .reportagem {
        align-items: center;
        width: 80vw;
        margin: auto;
    }
    #divreportagem h2 {
        margin-top: 10px;
        text-align: center;
    }
    div#localizacao {
        display: flex;
        flex-direction: column;
        width: 94%;
        align-items: center;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    #googlemap {
        display: block;
        margin: auto;
        max-width: 200px;
        height: 150px;
    }
    iframe#googlemap {
        margin: 0px;
    }
    footer {
        width: 91vw;
        font-size: 1em;
        justify-content: center;
    }
    footer a {
        text-decoration: none;
        color: lightgray;
    }
}